
  
  .page_container {
    padding-right: 64px;
  }
  
  .page_filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    margin: 24px 0;
  }
  
  .blogs_input__search {
    width: 100%;
    height: 36px;
    outline: none;
    background: url('./../../assets/images/search.svg') no-repeat 15px 9px;
    border: 1px solid #DEDBDC;
    border-radius: 2px;
    padding: 6px 48px;
  }
  
  .blogs_input__search::placeholder {
    color: #B3B0B1;
  }

  .page_button {
    display: flex;
    justify-content: center;
  }
  
  .posts_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 44px;
}